<%= month_calendar do |date| %>

  <%= date.day %>

  <% client.visited_days.each do |visited_day| %>
      <% if date == visited_day.day %>
        <div class="text-success">Пришел</div>
      <% end %>
  <% end %>

  
<% end %>