<table class="table">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Возраст</th>
      <th scope="col">Присутствие</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <% clients.each do |client| %>
    <tr id="client_<%= client.id %>">
      <%= render "client_row",client: client %>
    </tr>
    <% end %>
  </tbody>
</table>