<div class="row">
  <div class="col-md-4">
  <%= form_for :q,url: clients_path,method: :get,remote: true do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit "Найти",class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>

</div>
<div id="clients">
  <%= render "clients",clients: @clients %>
</div>

