<h2 class="text-center">Касса</h2>
<% ["Incomes","Consumptions","Encashments","Transfers"].each do |item| %>
<h4 class="text-center text-success"><%= t("operations.#{item}.rus")%></h4>
  <table class="table">
    <thead>
      <tr>
        <%= render 'table_headers',collection: item.chop %>
      </tr>
    </thead>
    <tbody>
      <%= render 'collection',collection: current_cash_box.send(item.downcase).order("created_at DESC").take(5) %>
    </tbody>
  </table>
<% end %>








