<h2 class="text-center">Касса</h2>
<h4 class="text-center text-success">Приходы</h4>
<%= render 'incomes' %><br>
<h4 class="text-center">Переводы</h4>
<%= render 'transfers' %><br>
<h4 class="text-center">Расходы</h4>
<%= render 'consumptions' %>
<h4 class="text-center">Инкасации</h4>
<%= render 'encashments' %>