<%= render 'cash_boxes/collection_filter',collection: @collection %>
<h4 class="text-center">Переводы</h4>
<table class="table">
  <thead>
    <tr>
      <%= render 'cash_boxes/table_headers',collection: @collection %>
    </tr>
  </thead>
  <tbody>
      <%= render 'cash_boxes/collection',collection: @collection %>
  </tbody>
</table>
    